del {background-color: OrangeRed;  text-decoration: none;}
ins {background-color: SpringGreen; text-decoration: none;}

#style50 {
    overflow-y: scroll;
    height: 100%;
    font-size: 13;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#style50_perfect {
    text-align: center;
    padding: 70px 0;
}

#style50_error {
    text-align: center;
    padding: 70px 0;
}